* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
nav ul {
  list-style: none;
  border-top: 6px solid #e6af2e;
  background-color: #191716;
}
nav ul li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 15px 25px;
  font-size: 20px;
  color: #e6af2e;
}
